Library/
*.fla
*.meta
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.orig
*.app
*.exe
*.*_data
Temp/
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-vs.unityproj
